/********************************************************************

Project: Optimus
Last Updated: 
Version: 0.2
Author: Paulo Henrique Pires -> about.me/paulohp
			 
********************************************************************
Style
********************************************************************/

.optimus fieldset {
	background:#fff;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.optimus-wrapper{
	width: 80%;
	margin: 0 auto;
}
/* hover effect */
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {}
.field-button:hover {background:transparent;}


/* Form legend and titles */

.optimus {font: normal 10px/1.1em Arial,Sans-Serif;}
.optimus legend, .optimus h3 {
	font-size:3em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
}

/* form elements  */
.optimus-lbl, .optimus label {
	color:#2b2b2b;
	font-size:1.4em;
	line-height: 1.3em;
	vertical-align:middle;
}
.optimus-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.2em;
	line-height: .85em;
}
.optimus .optimus-txt, .optimus input[type="text"], .optimus input[type="password"], .optimus input[type="file"], .optimus textarea, .optimus select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	font-size:1.4em;
	font-family:inherit;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.optimus select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
}
.optimus .optimus-txt:hover, .optimus input[type="text"]:hover, .optimus input[type="password"]:hover, .optimus input[type="file"]:hover, .optimus textarea:hover, .optimus select:hover {
	color:#666;
	background: #fff none;
	border-color:#c6c6c6;
}
form .optimus-txt:focus, .optimus input[type="text"]:focus, .optimus input[type="password"]:focus, .optimus input[type="file"]:focus, .optimus textarea:focus, .optimus select:focus  {
	color:#333;
	background: #fff none;
	border-color:#659ec9 #70aedd #a8cfec;
	outline: 0;
}


/* form msg status  */
.optimus-msg-info, .optimus-msg-warning, .optimus-msg-error, .optimus-msg-success {
	color:#2b2b2b;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.optimus-msg-info h3, .optimus-msg-warning h3, .optimus-msg-error h3, .optimus-msg-success h3 {
	font-size:2em;
	line-height:1.1em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 .3em 0;
}
.optimus-msg-info {
	background: #d1ecf7 url(../img/form-ic-info.png) no-repeat 12px 23px;
	border-color:#bcdfef;
}
.optimus-msg-warning {
	background: #fff6bf url(../img/form-ic-warning.png) no-repeat 12px 23px;
	border-color:#fceb77;
}
.optimus-msg-error {
	background: #fad0d0 url(../img/form-ic-error.png) no-repeat 12px 23px;
	border-color:#f6abab;
}
.optimus-msg-success {
	background: #e5f8ce url(../img/form-ic-success.png) no-repeat 12px 23px;
	border-color:#d0f1a6;
}

.optimus-msg-success strong, .optimus-msg-success a{color:#62b548;}
.optimus-msg-info strong, .optimus-msg-info a {color:#11689e;}
.optimus-msg-warning strong, .optimus-msg-warning a {color:#957210;}
.optimus-msg-error strong, .optimus-msg-error a {color:#b01717;}

/* form validation */
.optimus-error {
	border-color: #FAD0D0 !important;
	color: #b01717 !important;
  /* shadow */
  -moz-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  -webkit-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
}

/* form buttons (thanks for Twitter Bootstrap) */
/* btn orange */
.optimus .optimus-btn-orange{
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FAA732;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
	background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
	background-image: -o-linear-gradient(top, #FBB450, #F89406);
	background-image: linear-gradient(to bottom, #FBB450, #F89406);
	background-image: -moz-linear-gradient(top, #FBB450, #F89406);
	background-repeat: repeat-x;
	border-color: #F89406 #F89406 #AD6704;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
	.optimus .optimus-btn-orange:hover, .optimus-btn-orange:active, .optimus-btn-orange.active, .optimus-btn-orange.disabled, .optimus-btn-orange[disabled]{
		color: white;
		background-color: #F89406;
	}

/* btn green */
.optimus .optimus-btn-green{
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5BB75B;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(to bottom, #62C462, #51A351);
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-repeat: repeat-x;
	border-color: #51A351 #51A351 #387038;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
	.optimus .optimus-btn-green:hover, .optimus-btn-green:active, .optimus-btn-green.active, .optimus-btn-green.disabled, .optimus-btn-green[disabled]{
		color: white;
		background-color: #51A351;
	}

/* btn red */
.optimus .optimus-btn-red {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #DA4F49;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
	background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: #BD362F #BD362F #802420;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
	.optimus .optimus-btn-red:hover, .optimus-btn-red:active, .optimus-btn-red.active, .optimus-btn-red.disabled, .optimus-btn-red[disabled] {
		color: white;
		background-color: #BD362F;
	}

/* btn blue */
.optimus .optimus-btn-blue{
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49AFCD;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #1F6377;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
	.optimus .optimus-btn-blue:hover, .optimus-btn-blue:active, .optimus-btn-blue.active, .optimus-btn-blue.disabled, .optimus-btn-blue[disabled]{
		color: white;
		background-color: #2F96B4;
	}

/* btn default */
.optimus-button {
	display: inline-block;
	margin-bottom: 0;
	font-size:1.4em;
	line-height:1.4em;
	font-weight:bolder;
	text-transform: uppercase;
	letter-spacing: -.015em;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	/*background*/
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6);
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	/*border*/
	border: 1px solid #BBB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #A2A2A2;
	/*border-radius*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	/*box-shadow*/
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.optimus-button:hover {
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}