/********************************************************************

Project: Optimus
Last Updated:
Version: 0.3
Author: Paulo Henrique Pires -> about.me/paulohp

********************************************************************
Style
********************************************************************/
.optimus .optimus-btn-orange {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #FAA732;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .optimus .optimus-btn-orange:hover {
    color: white;
    background-color: #F89406; }

.optimus-btn-orange:active, .optimus-btn-orange.active, .optimus-btn-orange.disabled, .optimus-btn-orange[disabled] {
  color: white;
  background-color: #F89406; }

/* btn green */
.optimus .optimus-btn-green {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5BB75B;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .optimus .optimus-btn-green:hover {
    color: white;
    background-color: #51A351; }

.optimus-btn-green:active, .optimus-btn-green.active, .optimus-btn-green.disabled, .optimus-btn-green[disabled] {
  color: white;
  background-color: #51A351; }

/* btn red */
.optimus .optimus-btn-red {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #DA4F49;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .optimus .optimus-btn-red:hover {
    color: white;
    background-color: #BD362F; }

.optimus-btn-red:active, .optimus-btn-red.active, .optimus-btn-red.disabled, .optimus-btn-red[disabled] {
  color: white;
  background-color: #BD362F; }

/* btn blue **/
.optimus .optimus-btn-blue {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49AFCD;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
  .optimus .optimus-btn-blue:hover {
    color: white;
    background-color: #2F96B4; }

.optimus-btn-blue:active, .optimus-btn-blue.active, .optimus-btn-blue.disabled, .optimus-btn-blue[disabled] {
  color: white;
  background-color: #2F96B4; }

/* btn default */
.optimus-button {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  /*background*/
  background-color: whiteSmoke;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-repeat: repeat-x;
  /*border*/
  border: 1px solid #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #A2A2A2;
  /*border-radius*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  /*box-shadow*/
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .optimus-button:hover {
    color: #333;
    text-decoration: none;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear; }

/*Variaveis*/
.optimus-wrapper {
  width: 80%;
  margin: 0 auto; }

.optimus {
  font: normal 10px/1.1em Arial, Sans-Serif; }
  .optimus legend, .optimus h3 {
    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: -.035em;
    color: #2b2b2b;
    font-weight: normal; }
  .optimus fieldset {
    background: white;
    /*mixin rounded border*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  .optimus label {
    color: #2b2b2b;
    font-size: 1.4em;
    line-height: 1.3em;
    vertical-align: middle; }
  .optimus .optimus-txt {
    border-color: #c6c6c6 #dadada #eaeaea;
    background: #fafafa;
    color: #999;
    font-size: 1.4em;
    font-family: inherit;
    /*shadow*/
    box-shadow: 1px 1px 2px #e7e7e7 inset;
    /*corner*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .optimus input[type="text"], .optimus input[type="password"], .optimus input[type="file"] {
    border-color: #c6c6c6 #dadada #eaeaea;
    background: #fafafa;
    color: #999;
    font-size: 1.4em;
    font-family: inherit;
    /*shadow*/
    box-shadow: 1px 1px 2px #e7e7e7 inset;
    /*corner*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .optimus textarea, .optimus select {
    border-color: #c6c6c6 #dadada #eaeaea;
    background: #fafafa;
    color: #999;
    font-size: 1.4em;
    font-family: inherit;
    /*shadow*/
    box-shadow: 1px 1px 2px #e7e7e7 inset;
    /*corner*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

/*out of box style*/
.optimus-req {
  font-weight: bold;
  font-style: normal;
  color: #d10000;
  font-size: 1.2em;
  line-height: .85em; }

/* hover effect */
.field-button:hover {
  background: transparent; }
