/********************************************************************

Project: Optimus
Last Updated:
Version: 0.3
Author: Paulo Henrique Pires -> about.me/paulohp

********************************************************************
Structure
********************************************************************/
/*Compass Imports*/
/* Little CSS Reset to preserv form structure */
/* fix  ff bugs */
.optimus:after, .optimus div:after, .optimus ol:after, .optimus ul:after, .optimus li:after, .optimus dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden; }

/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0.8% 0.5% 1%;
  height: 100%;
  /*ie7*/
  *margin-left: .8%;
  *margin-right: .8%;
  *padding: 0.8% 0.25% 1%; }

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {
  width: 5.333%; }

.grid-2-12 {
  width: 13.666%; }

.grid-3-12 {
  width: 22%; }

.grid-4-12 {
  width: 30.333%; }

.grid-5-12 {
  width: 38.666%; }

.grid-6-12 {
  width: 47%; }

.grid-7-12 {
  width: 55.333%; }

.grid-8-12 {
  width: 63.666%; }

.grid-9-12 {
  width: 72%; }

.grid-10-12 {
  width: 80.333%; }

.grid-11-12 {
  width: 88.666%; }

.grid-12-12 {
  width: 97%; }

/* first item */
.optimus .alpha {
  margin-left: 0; }

/* last item */
.optimus .omega {
  margin-right: 0; }

/* clear */
.optimus .clear {
  clear: both; }

/* input without label */
.optimus-no-lbl {
  position: relative;
  padding-bottom: 0; }

/* input without label */
.optimus-no-lbl input,
.optimus-no-lbl label,
.optimus-no-lbl span,
.optimus-no-lbl ul,
.optimus-no-lbl p {
  position: absolute;
  bottom: 0; }

/* multiple containers inside field-grid */
.optimus .left {
  clear: none;
  float: left !important;
  margin-right: 0.3em !important; }

.optimus .right {
  clear: none;
  float: right !important;
  margin-left: 0.3em !important; }

/*Variaves*/
/*Form Structure*/
.optimus {
  margin: 0;
  padding: 0;
  /*fieldset*/
  /*Form Elements*/ }
  .optimus fieldset {
    border: 1px solid #d4d4d4;
    position: relative;
    height: 100%;
    padding: 1.2em 0;
    margin: 0 0 4em; }
    .optimus fieldset fieldset {
      width: 97%;
      margin: 0 auto; }
  .optimus legend {
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5% 0.5% 0.8%; }
  .optimus h3 {
    margin: 2em 1% 0.8%;
    padding: 0.5% 0.5% 0.8%; }
  .optimus label {
    display: block;
    height: auto;
    margin: 0.2em 0 0.5em; }
  .optimus .optimus-txt {
    vertical-align: middle;
    line-height: 1.1em;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*ie7*/
    *width: 99%; }
  .optimus input[type="text"], .optimus input[type="password"], .optimus input[type="file"] {
    vertical-align: middle;
    line-height: 1.1em;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*ie7*/
    *width: 99%; }
  .optimus textarea, .optimus select {
    vertical-align: middle;
    line-height: 1.1em;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*ie7*/
    *width: 99%; }
  .optimus textarea {
    height: 10em; }
  .optimus select {
    padding: 9px;
    height: 2.7em; }
  .optimus input[type="submit"], .optimus input[type="button"], .optimus input[type="reset"] {
    padding: 8px 15px 9px;
    cursor: pointer;
    text-align: center;
    display: inline-block; }

/*out of box styles*/
.optimus-lbl {
  display: block;
  height: auto;
  margin: 0.2em 0 0.5em; }

.optimus-list {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0; }
  .optimus-list li {
    margin: 0.5em 0.6em 0.8em;
    float: left;
    display: inline-block;
    list-style: none; }
  .optimus-list input {
    margin-right: 0.2em; }
  .optimus-list .optimus-lbl, .optimus-list label {
    display: inline;
    height: auto;
    margin: 0.2em 0 0.5em; }

.optimus-req {
  position: relative;
  top: 3px; }

.optimus-msg {
  padding: 20px 20px 15px 38px;
  border: 1px solid #cccccc;
  display: block;
  height: auto;
  margin: 0 1.5% 0.8em;
  clear: both; }
  .optimus-msg li {
    list-style: none;
    padding: 0;
    margin-bottom: .4%;
    font-size: 1.4em;
    line-height: 1.1em;
    vertical-align: top; }

.optimus-msg-info, .optimus-msg-warning, .optimus-msg-error, .optimus-msg-success {
  padding: 20px 20px 15px 38px;
  border: 1px solid #cccccc;
  display: block;
  height: auto;
  margin: 0 1.5% 0.8em;
  clear: both; }

.optimus-msg-info li, .optimus-msg-warning li, .optimus-msg-error li, .optimus-msg-success li {
  list-style: none;
  padding: 0;
  margin-bottom: .4%;
  font-size: 1.4em;
  line-height: 1.1em;
  vertical-align: top; }

.optimus-button {
  padding: 8px 15px 9px;
  cursor: pointer;
  text-align: center;
  display: inline-block; }

.optimus-small {
  width: 30% !important;
  float: left;
  margin-right: 10px;
  display: inline; }

.optimus-medium {
  width: 50% !important;
  float: left;
  margin-right: 10px;
  display: inline; }
