/* Field Grid */
/* line 2, ../sass/grid.scss */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0.8% 0.5% 1%;
  height: 100%;
  /*ie7*/
  *margin-left: .8%;
  *margin-right: .8%;
  *padding: 0.8% 0.25% 1%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
/* line 17, ../sass/grid.scss */
.grid-1-12 {
  width: 5.333%;
}

/* line 18, ../sass/grid.scss */
.grid-2-12 {
  width: 13.666%;
}

/* line 19, ../sass/grid.scss */
.grid-3-12 {
  width: 22%;
}

/* line 20, ../sass/grid.scss */
.grid-4-12 {
  width: 30.333%;
}

/* line 21, ../sass/grid.scss */
.grid-5-12 {
  width: 38.666%;
}

/* line 22, ../sass/grid.scss */
.grid-6-12 {
  width: 47%;
}

/* line 23, ../sass/grid.scss */
.grid-7-12 {
  width: 55.333%;
}

/* line 24, ../sass/grid.scss */
.grid-8-12 {
  width: 63.666%;
}

/* line 25, ../sass/grid.scss */
.grid-9-12 {
  width: 72%;
}

/* line 26, ../sass/grid.scss */
.grid-10-12 {
  width: 80.333%;
}

/* line 27, ../sass/grid.scss */
.grid-11-12 {
  width: 88.666%;
}

/* line 28, ../sass/grid.scss */
.grid-12-12 {
  width: 97%;
}

/* first item */
/* line 32, ../sass/grid.scss */
.optimus .alpha {
  margin-left: 0;
}

/* last item */
/* line 36, ../sass/grid.scss */
.optimus .omega {
  margin-right: 0;
}

/* clear */
/* line 40, ../sass/grid.scss */
.optimus .clear {
  clear: both;
}

/* input without label */
/* line 44, ../sass/grid.scss */
.optimus-no-lbl {
  position: relative;
  padding-bottom: 0;
}

/* input without label */
/* line 53, ../sass/grid.scss */
.optimus-no-lbl input,
.optimus-no-lbl label,
.optimus-no-lbl span,
.optimus-no-lbl ul,
.optimus-no-lbl p {
  position: absolute;
  bottom: 0;
}

/* multiple containers inside field-grid */
/* line 56, ../sass/grid.scss */
.optimus .left {
  clear: none;
  float: left !important;
  margin-right: 0.3em !important;
}

/* line 61, ../sass/grid.scss */
.optimus .right {
  clear: none;
  float: right !important;
  margin-left: 0.3em !important;
}
