/********************************************************************

Project: Optimus
Last Updated: 
Version: 0.3
Author: Paulo Henrique Pires -> about.me/paulohp

********************************************************************
Structure
********************************************************************/
/*Compass Imports*/
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Little CSS Reset to preserv form structure */
/* fix  ff bugs */
/* line 4, ../sass/form-reset-structure.scss */
.optimus:after, .optimus div:after, .optimus ol:after, .optimus ul:after, .optimus li:after, .optimus dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* Field Grid */
/* line 2, ../sass/grid.scss */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0.8% 0.5% 1%;
  height: 100%;
  /*ie7*/
  *margin-left: .8%;
  *margin-right: .8%;
  *padding: 0.8% 0.25% 1%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
/* line 17, ../sass/grid.scss */
.grid-1-12 {
  width: 5.333%;
}

/* line 18, ../sass/grid.scss */
.grid-2-12 {
  width: 13.666%;
}

/* line 19, ../sass/grid.scss */
.grid-3-12 {
  width: 22%;
}

/* line 20, ../sass/grid.scss */
.grid-4-12 {
  width: 30.333%;
}

/* line 21, ../sass/grid.scss */
.grid-5-12 {
  width: 38.666%;
}

/* line 22, ../sass/grid.scss */
.grid-6-12 {
  width: 47%;
}

/* line 23, ../sass/grid.scss */
.grid-7-12 {
  width: 55.333%;
}

/* line 24, ../sass/grid.scss */
.grid-8-12 {
  width: 63.666%;
}

/* line 25, ../sass/grid.scss */
.grid-9-12 {
  width: 72%;
}

/* line 26, ../sass/grid.scss */
.grid-10-12 {
  width: 80.333%;
}

/* line 27, ../sass/grid.scss */
.grid-11-12 {
  width: 88.666%;
}

/* line 28, ../sass/grid.scss */
.grid-12-12 {
  width: 97%;
}

/* first item */
/* line 32, ../sass/grid.scss */
.optimus .alpha {
  margin-left: 0;
}

/* last item */
/* line 36, ../sass/grid.scss */
.optimus .omega {
  margin-right: 0;
}

/* clear */
/* line 40, ../sass/grid.scss */
.optimus .clear {
  clear: both;
}

/* input without label */
/* line 44, ../sass/grid.scss */
.optimus-no-lbl {
  position: relative;
  padding-bottom: 0;
}

/* input without label */
/* line 53, ../sass/grid.scss */
.optimus-no-lbl input,
.optimus-no-lbl label,
.optimus-no-lbl span,
.optimus-no-lbl ul,
.optimus-no-lbl p {
  position: absolute;
  bottom: 0;
}

/* multiple containers inside field-grid */
/* line 56, ../sass/grid.scss */
.optimus .left {
  clear: none;
  float: left !important;
  margin-right: 0.3em !important;
}

/* line 61, ../sass/grid.scss */
.optimus .right {
  clear: none;
  float: right !important;
  margin-left: 0.3em !important;
}

/*Variaves*/
/*Form Structure*/
/* line 22, ../sass/optimus-structure.scss */
.optimus {
  margin: 0;
  padding: 0;
  /*fieldset*/
  /*Form Elements*/
}
/* line 27, ../sass/optimus-structure.scss */
.optimus fieldset {
  border: 1px solid #d4d4d4;
  position: relative;
  height: 100%;
  padding: 1.2em 0;
  margin: 0 0 4em;
}
/* line 34, ../sass/optimus-structure.scss */
.optimus fieldset fieldset {
  width: 97%;
  margin: 0 auto;
}
/* line 39, ../sass/optimus-structure.scss */
.optimus legend {
  margin-left: 1%;
  margin-right: 1%;
  padding: 0.5% 0.5% 0.8%;
}
/* line 44, ../sass/optimus-structure.scss */
.optimus h3 {
  margin: 2em 1% .8%;
  padding: 0.5% 0.5% 0.8%;
}
