/* Little CSS Reset to preserv form structure */

/* fix  ff bugs */
.optimus:after, .optimus div:after, .optimus ol:after, .optimus ul:after, .optimus li:after, .optimus dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}