@mixin rounded-border($pixels){
	-moz-border-radius: #{$pixels}px;
	-webkit-border-radius: #{$pixels}px;
	border-radius: #{$pixels}px;
}
@mixin title-and-legend{
	font-size:3em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
}
@mixin label($type){
	@if $type == 'lbl'{
		color:#2b2b2b;
		font-size:1.4em;
		line-height: 1.3em;
		vertical-align:middle;
	}
	@else if $type == 'req'{
		font-weight: bold;
		font-style:normal;
		color:#d10000;
		font-size:1.2em;
		line-height: .85em;
	}
}
@mixin input{
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	font-size:1.4em;
	font-family:inherit;
}