/********************************************************************

Project: Optimus
Last Updated: 
Version: 0.3
Author: Paulo Henrique Pires -> about.me/paulohp

********************************************************************
Structure
********************************************************************/

/*Compass Imports*/
@import "compass/reset";
@import "form-reset-structure";
@import "grid";

/*Variaves*/
$centralizar:0 auto;
$spacer:0.5% 0.5% 0.8%;

/*Form Structure*/
.optimus{
	margin:0;
	padding: 0;

	/*fieldset*/
	fieldset{
		border: 1px solid #d4d4d4;
		position: relative;
		height:100%;
		padding: 1.2em 0;
		margin: 0 0 4em;

		fieldset{
			width: 97%;
 			margin: $centralizar;
		}
	}
	legend{
		margin-left:1%;
		margin-right:1%;
		padding: $spacer;
	}
	h3{
		margin: 2em 1% .8%;
		padding: $spacer;
	}

	/*Form Elements*/
}